{% macro is_active_link(route_name) %}{% if app.request.attributes.get('_route') is same as(route_name) %}active{% endif %}{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            El famoso navbar
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ _self.is_active_link('app_macro_index') }}" href="{{ path('app_macro_index') }}">
                        Index
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{ _self.is_active_link('app_macro_another_route') }}" href="{{ path('app_macro_another_route') }}">
                        Another page
                    </a>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">

                <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>