<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">

        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.min.css">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>
