{% extends 'base.html.twig' %}

{% block title %}
    Hello MacroController!
{% endblock %}

{% block body %}
    {% include '_partials/_navbar.html.twig' only %}

    <h1 class="text-center my-5">
        Index
    </h1>
{% endblock %}
